ACTION=="add", SUBSYSTEM=="block", KERNEL=="sd[a-z]", TAG+="systemd", ENV{SYSTEMD_WANTS}="usb-backup@%k.service"
# PATH = /etc/udev/rules.d/99-usb-backup.rules
